@media (prefers-color-scheme: dark) {
    body {
        background-color: #1e1e1e !important;
        color: #ffffff !important;
    }
    .swagger-ui p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    label,
    .btn,
    .parameter__name,
    .parameter__type,
    .parameter__in,
    .response-control-media-type__title,
    table thead tr td,
    table thead tr th,
    .tab li,
    .response-col_links,
    .opblock-summary-description {
        color: #ffffff !important;
    }
    .swagger-ui .topbar, .opblock-body select, textarea {
        background-color: #2b2b2b !important;
        color: #ffffff !important;
    }
    .swagger-ui .opblock {
        background-color: #2c2c2c !important;
        border-color: #fff !important;
    }
    .swagger-ui .opblock .opblock-summary-method {
        background-color: #1f1f1f !important;
        color: #fff !important;
    }
    .swagger-ui .opblock .opblock-section-header {
        background: #1f1f1f !important;
        color: #fff !important;
    }
    .swagger-ui .responses-wrapper {
        background-color: #1f1f1f !important;
    }
    .swagger-ui .response-col_status {
        color: #fff !important;
    }
    .swagger-ui .scheme-container {
        background-color: #1f1f1f !important;
    }
    .swagger-ui .modal-ux, input {
        background-color: #1f1f1f !important;
        color: #fff !important;
    }
    .swagger-ui svg path {
        fill: white !important;
    }
    .swagger-ui .close-modal svg {
        color: #1e90ff !important;
    }
    a {
        color: #1e90ff !important;
    }
}
