# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# Playwright
/tests/reports/playwright-report

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env
.env.local
.env.*
.envrc
supabase/*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.idea/
node_modules
yarn-error.log
dev
firebase-debug.log
tsconfig.tsbuildinfo

*.db

*prisma/migrations
martin
email-preview
.obsidian
.idea
*.last-run.json

*lock.hcl
/web/pages/_test.tsx

*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
*.mp4
*.mov
*.webp
*.avi
*.wmv
*.mp3
*.wav
*.flac
*.aac
*.zip
*.tar.gz
*.rar
/favicon_color.ico
/backend/shared/src/googleApplicationCredentials-dev.json
*.tfstate
*.tfstate.backup
*.terraform
/backups/firebase/auth/data/
/backups/firebase/storage/data/

android/app/release*
icons/
*.bak

test-results
/.nyc_output/

**/coverage/*
